div.page-header
  h1 Live status of #{ip}
div.row
  div.total.span8
    h2 Total
    div.number 
      span#total=ipData.getTotalString()
      | &nbsp;MiB
  div.updown.span4
    h2 Download
    div.number 
      span#download=ipData.getDownloadString()
      | &nbsp;MiB
    h2 Upload
    div.number
      span#upload=ipData.getUploadString()
      | &nbsp;MiB
div.row
  div.span12
    h2 Hourly view
    noscript Please enable JavaScript for graph plotting.
    div#graph
script
  var socket = io.connect("#{views.siteUri}");
  startPlot($("#graph"), !{JSON.stringify(historyPlot)});

  socket.on('ready', function () {
    socket.emit('set ip', { ip: "#{ip}" });
  });
  socket.on('update', function(data) {
    var total = ((data.download + data.upload)/1048576).toFixed(2);
    var download = (data.download/1048576).toFixed(2);
    var upload = (data.upload/1048576).toFixed(2);
    $("#total").text(total);
    $("#download").text(download);
    $("#upload").text(upload);
    document.title = total + " MiB";
  });
  setInterval(function(){socket.emit('update graph');}, 60000);
  socket.on('graph update', function(data) {
    startPlot($("#graph"), data);
  });
