div.page-header
  h1 #{ip} 
    small Live status
div.row
  div.total.span8
    h2 Total
    div.number #{ipData.getTotalString()} MiB
  div.updown.span4
    h2 Download
    div.number #{ipData.getDownloadString()} MiB
    h2 Upload
    div.number #{ipData.getUploadString()} MiB
div.row
  div.span12
    h2 Hourly view
    noscript Please enable JavaScript for graph plotting.
    div#graph
    script
      var plotData=!{JSON.stringify(ipData.hourlyData.getPlotData())};
      startPlot($("#graph"), plotData);
