h1= ip
ul
  li Total: #{ipData.getTotal()}
  li Upload: #{ipData.upload}
  li Download: #{ipData.download}
h2 Hourly usage
ul
  each hourData, hour in ipData.hourlyData.hours
    li #{hour}: #{hourData.getTotal()}
